<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app">
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/product_app_label">
        <activity
            android:name="app.home.HomeActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:supportsPictureInPicture="true"
            android:maxAspectRatio="3"
            android:launchMode="singleTop"
            tools:targetApi="o">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
